 <%# プロフィール編集 %>
      <h4 class="mt-4">User info</h4>
      <%= attachment_image_tag current_user, :profile_image, size: "60x60" , fallback: "no_image.jpg"%>
      <p class="border-top border-bottom pt-2 pb-2">name　　　　<%= current_user.name %></p>
      <p>introduction　<%= current_user.introduction %></p>
      <p>follows<%= current_user.followings.count %></p>
      <p>followers<%= current_user.followers.count %></p>
      <p><button class="bg-white w-100  rounded">
        <%= link_to edit_user_path(current_user) do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </button></p>