<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/profile_edit' %>
      <%= render 'books/new_book',book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="mt-2">Users</h2>
      <table class="w-100">
        <tr class="border-top border-bottom">
          <td class="pt-2 pb-2">image</td>
          <td>name</td>
          <td>　</td>
        </tr>
        <% @users.each do |user| %>
          <tr class="border-top border-bottom">
            <td class="pt-2 pb-2"><%= attachment_image_tag user, :profile_image, size: "60x60" , fallback: "no_image.jpg"%></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show",user_path(user) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>