<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Bookers</a>
        <% if user_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/users/<%= current_user.id %>"><i class="fas fa-home text-white mr-2">Home</i></a>
            </li>  
            <li class="nav-item">
              <a href="/users"><i class="fas fa-users text-white mr-2 ml-2">Users</i></a>
            </li>
            <li class="nav-item">
               <a href="/books"><i class="fas fa-book-open text-white mr-2 ml-2">Books</i></a>
            </li>
            <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt text-white mr-2">logout</i>
                <% end %>
            </li>
          </ul>
          <div>
          <%= form_with url: search_path, method: :get, local: true do |form| %>
            <%= form.text_field :search %>
            <%= form.submit 'Search', name: nil %>
          <% end %>
          </div>
         
          <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                 <a href="/"><i class="fas fa-home text-white mr-2">Home</i></a>
              </li>
              <li class="nav-item">
                 <a href="/home/about"><i class="fas fa-link text-white  mr-2 ml-2">about</i></a>
              </li>
              <li class="nav-item">
                 <a href="/users/sign_up"><i class="fas fa-user-plus text-white mr-2 ml-2">sign up</i></a>
              </li>
              <li class="nav-item">
                <a href="/users/sign_in"> <i class="fas fa-sign-in-alt text-white mr-2">login</i></a>
              </li>
           </ul>
          <% end %>
      </nav>
    </header>
    <%= yield %>
  <p class="text-center">CopyRight Infratop.inc</p>
  </body>
</html>
