<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h4 class="mt-3">Editing Book</h4>
      <%= form_with model:@book,local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title,class:"w-100" %>
        <p class="mt-2">Opinion</p>
        <%= f.text_area :body,class:"w-100" %>
        <p class="mt-2"><%= f.submit "Update Book" %></p>
      <% end %>
      <%= link_to "Show",book_path(@book) %> | <%= link_to "Back",books_path %>
    </div>
  </div>
</div>